.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

/* #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
   
  .spinner {
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 50vw;
    animation: spin 1s linear infinite;
  }
   
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */

.logo {
    height: clamp(2.5rem, 1.864rem + 2.46vw, 4.813rem);
    width: clamp(2.5rem, 1.864rem + 2.46vw, 4.813rem);
    position: absolute;
    top: 0.5vw;
    left: 0.7vw;
    z-index: 1;
    cursor: pointer;
}

.NotMainScreen {
    display: none;
}

.firstscreen {
    display: none;
    flex-direction: column;
    align-items: center;
}

P {
    color: #0075F2;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-align: center;
}

.header {
    font-size: clamp(2rem, 1.433rem + 2.19vw, 4.063rem);
    margin-top: 1.4vw;
}

.textblock {
    font-size: clamp(1.25rem, 0.975rem + 1.06vw, 2.25rem);
    margin-top: 1.7vw;
}

.firstlinetext,
.secondlinetext {
    margin-bottom: 1vw;
}

.thirdlinetext {
    margin-bottom: 2.6vw;
}

.cow {
    background-image: url(../img/cowfirst.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: clamp(23.688rem, 20.183rem + 13.55vw, 36.438rem);
    height: clamp(17.375rem, 14.729rem + 10.23vw, 27rem); /* !!! vw */
    /* margin-bottom: 0.5vw; */
    cursor: pointer;
}

.cow:hover {
    background-image: url(../img/cowsecond.svg);
    animation: cow 0.3s steps(2) infinite;
}

@keyframes cow {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.underwrite {
    font-size: clamp(1rem, 0.863rem + 0.53vw, 1.5rem);
    position: absolute;
    bottom: 1.3vw;
}

.secondscreen {
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(../img/background.png) no-repeat;
    background-size: auto;
    /* background-position: 0 0; */
    position: relative;
    z-index: 0;
}

.applemain {
    width: 20.4vw;
    height: 25.8vw;
    position: absolute;
    left: 15vw;
    top: 10vw;
    /* transform: translate(-50%, -50%); */
    background: url(../img/applemain.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.applemain:hover {
    background: url(../img/AppleBlueMain.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.milk {
    width: 12vw;
    height: 35vw;
    position: absolute;
    left: 40vw;    
    /* left: 30vw; */
    top: 70vw;
    /* top: 85vw; */
    /* transform: translate(-50%, -50%); */
    background: url(../img/milkmain.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.milk:hover {
    background: url(../img/MilkBlueMain.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.strawberry {
    width: 20.4vw;
    height: 20vw;
    position: absolute;
    left: 90vw;
    top: 50vw;
    /* transform: translate(-50%, -50%); */
    background: url(../img/strawberrymain.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.strawberry:hover {
    background: url(../img/StrawberryBlueMain.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.tomato {
    width: 10vw;
    height: 10.5vw;
    position: absolute;
    left: 50vw;
    top: 45vw;
    /* transform: translate(-50%, -50%); */
    background: url(../img/tomato_first.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tomato:hover {
    background: url(../img/tomato_second.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banana {
    width: 15vw;
    height: 15.5vw;
    position: absolute;
    left: 90vw;
    top: 7vw;
    background: url(../img/banana.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* -ms-transform-origin-x: -200%;  */
    transform-origin: -10vw;
    /* transform: rotateY(0deg); */
}

.banana:hover {
    animation: banana 0.6s infinite linear;
}

@keyframes banana {
    0%{
        rotate: 0deg;
        /* transform: rotate(0deg); */
    }
      100% {
        rotate: -360deg;
        /* transform: rotate(360deg); */
      }
}

.pink_cow {
    width: 7vw;
    height: 6.5vw;
    position: absolute;
    left: 80vw;
    top: 100vw;
    background: url(../img/pinkcow.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pink_cow:hover {
    animation: pink_cow 1s infinite linear;
}

@keyframes pink_cow {
    0%, 100% {
        top: 100vw;
    }
    50% {
        top: 90vw;
    }
}

.froud {
    width: 10vw;
    height: 10vw;
    position: absolute;
    left: 7vw;
    top: 65vw;
    background: url(../img/froud.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.froud:hover {
    animation: froud 0.6s infinite ease-in-out;
}

@keyframes froud {
    0% {
        rotate: y 0deg;
    }
    100% {
        rotate: y 360deg;
    }
}

.ThirdScreen_FirstStep {
    display: none;
    flex-direction: column;
    align-items: center;
}

.variants {
    display: flex;
    margin-top: 10.5vw;
}

.AppleMosaic {
    width: 27.3vw;
    height: 33vw;
    background: url(../img/AppleMosaic.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 9vw;
}

.CowMosaic {
    width: 43.8vw;
    height: 33vw;
    background: url(../img/CowMosaic.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ThirdScreen_Apple {
    display: none;
    justify-content: center;
    z-index: 0;
}

.ThirdScreen_Cow {
    display: none;
    justify-content: center;
    z-index: 0;
}

.back {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.3vw;
    left: 1.15vw;
}

.back_cow {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.3vw;
    left: 1.15vw;
}

.back_cow p {
    margin-top: 0.5vw;
}

.arrow {
    width: 1.6vw;
    height: 2.23vw;
    margin-right: 1vw;
}

.back p {
    margin-top: 0.5vw;
}

.MosaicApple {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(4, 10vw);
    margin-top: 3vw;
}

.MosaicApple img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.AppleMosaic_1 {
    /* width: 10vw;
    height: 10vw; */
    grid-column: 1, 2;
    grid-row: 1;
    margin-top: 5.1vw;
}

.AppleMosaic_1 img {
    width: 12vw;
    /* height: 5vw; */
}

.OnePart img {
    width: 10vw;
    height: 10vw;
}

.AppleMosaic_2 {
    grid-column: 1;
    grid-row: 2;
}

.AppleMosaic_3 {
    grid-column: 2;
    grid-row: 2;
}

.AppleMosaic_4 {
    grid-column: 3;
    grid-row: 2;
}

.AppleMosaic_5 {
    grid-column: 1;
    grid-row: 3;
}

.AppleMosaic_6 {
    grid-column: 2;
    grid-row: 3;
}

.AppleMosaic_7 {
    grid-column: 3;
    grid-row: 3;
}

.AppleMosaic_8 {
    grid-column: 1;
    grid-row: 4;
}

.AppleMosaic_9 {
    grid-column: 2;
    grid-row: 4;
}

.AppleMosaic_10 {
    grid-column: 3;
    grid-row: 4;
}

.MosaicCow {
    display: grid;
    grid-template-columns: repeat(4, 10.67vw);
    grid-template-rows: repeat(3, 10.67vw);
    margin-top: 5vw;
}

.MosaicCow img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.cow_9 img{
    width: 21.34vw;
    height: 10.67vw;
}

.OnePartCow img{
    width: 10.67vw;
    height: 10.67vw;
}

.cow_1 {
    grid-column: 1;
    grid-row: 1;
}

.cow_2 {
    grid-column: 2;
    grid-row: 1;
}

.cow_3 {
    grid-column: 3;
    grid-row: 1;
}

.cow_4 {
    grid-column: 4;
    grid-row: 1;
}

.cow_5 {
    grid-column: 1;
    grid-row: 2;
}

.cow_6 {
    grid-column: 2;
    grid-row: 2;
}

.cow_7 {
    grid-column: 3;
    grid-row: 2;
}

.cow_8 {
    grid-column: 4;
    grid-row: 2;
}

.cow_9 {
    grid-column: 1, 2;
    grid-row: 3;
}

.cow_10 {
    grid-column: 3;
    grid-row: 3;
}

.cow_11 {
    grid-column: 4;
    grid-row: 3;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    cursor: pointer;
}

.TextInModal {
    width: 73vw;
    height: 14vw;
    background-color: #0075F2;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextInModal p {
    font-size: 64px;
    color: white;
    text-align: center;
}


.First_FindGame {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    background: url(../img/BG.svg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Modal_Find_First {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(3px);
}

.Main_Heading p{
    font-size: clamp(2rem, 1.45rem + 2.12vw, 4rem);
    color: white;
}

.Main_Heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0075F2;
    width: 73vw;
    height: 14vw;
    border: 5px solid white;
    margin-top: 12vw;
    margin-bottom: 2vw;
}

button {
    font-size: clamp(2rem, 1.45rem + 2.12vw, 4rem);
    color: #0075F2;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-align: center;
    width: 32vw;
    height: 6.3vw;
    background-color: white;
    border: 5px solid #0075F2;
    cursor: pointer;
}

.fruits {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fuit {
    position: absolute;
    
}

.PixelAppleGame {
    width: 27vw;
    height: 31.3vw;
}

.BananaGame {
    width: 15vw;
    height: 15.5vw;
}

.StrawberryGame {
    width: 24.3vw;
    height: 24.2vw;
}

.TomatoGame {
    width: 15vw;
    height: 15.5vw;
}

.garfild {
    width: 18vw;
    height: 22.1vw;
}

.CarrotGame {
    width: 25.6vw;
    height: 43.3vw;
}

.CroissantGame {
    width: 20.1vw;
    height: 25.8vw;
}

.PixelCroissantGame {
    width: 22.4vw;
    height: 28.9vw;
}

.AppleGame {
    width: 24.3vw;
    height: 24.3vw;
}

.PixelCarrotGame {
    width: 26vw;
    height: 43.8vw;
}

.SalatGame {
    width: 29.3vw;
    height: 31.6vw;
}

.PixelSalatGame {
    width: 29.3vw;
    height: 31.6vw;
}

.CornGame {
    width: 30.2vw;
    height: 44.3vw;
}

.CherryGame {
    width: 23.8vw;
    height: 28vw;
}

.BroccoliGame {
    width: 24.2vw;
    height: 24.2vw;
}

.CowGame {
    width: 30.4vw;
    height: 22.5vw;
}

.AntGame {
    width: 12.8vw;
    height: 10.6vw;
}

.MouseGame {
    width: 20.2vw;
    height: 29.2vw;
}

.ThreeD_First {
    display: none;
    flex-direction: column;
    overflow: hidden;
}

hr {
    width: 100vw;
    border: 5px solid #0075F2;
}

.FirstLevel {
    display: flex;
    flex-direction: column;
    margin-top: 7vw;
}

.SecondLevel {
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
}

.ProductsFirst {
    display: flex;
    flex-direction: row;
    margin-bottom: -4vw;
    animation: ProductsFirst 9s linear infinite;
}

@keyframes ProductsFirst {
    from {transform: translateX(-100%)}
    to {transform: translateX(100%);}
}


.ProductsSecond {
    display: flex;
    flex-direction: row;
    margin-bottom: -2vw;
    animation: ProductsSecond 9s linear infinite;
}

@keyframes ProductsSecond {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
}

.BottleProduct img{
    width: 4.4vw;
    height: 12.5vw;
    rotate: 20deg;
    margin-right: 25vw;
    transform: translateY(0);
}

.BroccoliProduct img{
    width: 13.6vw;
    height: 14.7vw;
    rotate: -50deg;
    margin-right: 25vw;
    transform: translateY(0);
}

.TomatoProduct img{
    width: 11vw;
    height: 12vw;
    margin-right: 25vw;
    transform: translateY(0);
}

.AppleProduct img{
    width: 11.2vw;
    height: 12.8vw;
    margin-right: 25vw;
    transform: translateY(0);
}

.GarlicProduct img{
    width: 10vw;
    height: 11.9vw;
    rotate: -19deg;
    margin-right: 25vw;
    transform: translateY(2vw);
}

.LimonProduct img{
    width: 16.9vw;
    height: 11.6vw;
    rotate: -10.14deg;
    margin-right: 25vw;
    transform: translateY(2vw);
}

.CroissantProduct img{
    width: 11.3vw;
    height: 14.2vw;
    rotate: -45.25deg;
    margin-right: 25vw;
    transform: translateY(0);
}

.CabbageProduct img{
    width: 18.6vw;
    height: 13.6vw;
    margin-right: 25vw;
    transform: translateY(0);
}

.PineappleProduct img{
    width: 6.35vw;
    height: 13vw;
    rotate: -30deg;
    margin-right: 25vw;
    transform: translateY(0);
}

.PumpkinProduct img{
    width: 13.3vw;
    height: 13.1vw;
    rotate: -32.85deg;
    margin-right: 25vw;
    transform: translateY(0);
}

.StrawberryProduct img{
    width: 8.75vw;
    height: 11.5vw;
    rotate: -132.56deg;
    margin-right: 25vw;
    transform: translateX(-3vw) translateY(-3vw);
}

.OrangeProduct img{
    width: 11.5vw;
    height: 11.4vw;
    rotate: -90deg;
    margin-right: 25vw;
    transform: translateX(-1.5vw) translateY(-1.5vw);
}

.BananaProduct img{
    width: 13vw;
    height: 13.8vw;
    rotate: -45deg;
    margin-right: 25vw;
    transform: translateY(0);
}

.BottleProduct:hover{
    cursor: pointer;
}

.BroccoliProduct:hover{
    cursor: pointer;
}

.TomatoProduct:hover{
    cursor: pointer;
}

.AppleProduct:hover{
    cursor: pointer;
}

.GarlicProduct:hover{
    cursor: pointer;
}

.LimonProduct:hover{
    cursor: pointer;
}

.CroissantProduct:hover{
    cursor: pointer;
}

.CabbageProduct:hover{
    cursor: pointer;
}

.PineappleProdu:hover{
    cursor: pointer;
}

.PumpkinProduct:hover{
    cursor: pointer;
}

.StrawberryProduct:hover{
    cursor: pointer;
}

.OrangeProduct:hover{
    cursor: pointer;
}

.BananaProduct:hover{
    cursor: pointer;
}

.ThreeD_Bottle {
    display: none;
    width: 100vw;
    height: 100vh;
    cursor: grab;
}

.ThreeD_Bottle:active {
    cursor: grabbing; 
    /* везде сделать!!! */
}

